<!doctype html>
<html lang="en">
 	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    <title>{{ title }}</title>
 	</head>

	<body>
		<form>
			<input id = 'a' type="text"><br>
		</form>
		<button onclick="press()"> Отправить </button>
		<ul id='processes'>

		</ul>
		<script type="text/javascript">
			
			function press(){
				send(socket, $('#a').val());
			}

			function send(socket, message){
				socket.send(message);				
			}
			
			function assign_processes(process_dict)
			{
				proc_dict = $JSON.parse(process_dict);
				console.log(proc_dict);
				console.log(process_dict);
				process_ul = $('#processes');
				process_ul.empty();
				if (Object.keys(proc_dict).length == 0){
					process_ul.append('<li>На данный момент запущенных процессов нет</li>');
				}
				else
				{
					var i=0;
					for(var proc in proc_dict){
						process_ul.append(
							'<li id="'+ i +'"> id: ' + proc + 
								', name: ' + proc_dict[proc].process_name + 
								', script_name: ' + proc_dict[proc].script_name +
								', state: ' + proc_dict[proc].state+
								', params:' + JSON.stringify(proc_dict[proc].params)+
								' </li>'
							)
					}
				}	
			}

			var socket;
			window.onload = function(){
				//t=setInterval(request_process,1000);
				
				socket = new WebSocket("ws://localhost:{{ port }}");
                                				
				socket.onmessage = function(event) {
				  console.log(event.data);
				};	
				
				socket.onopen = function() {
			    	console.log('Открыто');
			    }	
				

			}
		</script>
	</body>
</html>	    
